.register-display{
    display: flex;
    flex-direction: column;
}
.container{
    // width: 100%;
    margin-top: 110px;
    padding: 0 40px;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: CanelaText-Light;
    .register-name{
        font-size: 36px;
        font-weight: 500;
        font-variant-numeric: lining-nums;
        color: rgb(51, 54, 56);
    }
    .register-des{
        font-size: 17px;
    }
    .register-form{
        width: 460px;
        display: flex;
        flex-direction: column;
        box-sizing:border-box;
        color:rgb(51, 54, 56);
        // font-family: CanelaText-Light;
        .form-input{
            padding: 0 18px;
            margin-top: 20px;
            height :52px;
            line-height :29.4667px;
            font-size: 18px;
            font-style: normal;
            font-variant-numeric :lining-nums;
            font-weight: 400;
            border-color: rgba(51, 54, 56, 0.15);
        }
    }
    .register-button{
        padding: 0 18px;
        margin-top: 20px;
        height :52px;
        line-height :29.4667px;
        font-size: 18px;
        font-style: normal;
        font-variant-numeric :lining-nums;
        font-weight: 400;
        color: white;
        background-color: rgb(187, 165, 123);
        border-color: rgba(51, 54, 56, 0.15);
        cursor: pointer;
    }
}