:root{
    --red:#f53b57;
  }
  
  *{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: cursive;
    text-transform: capitalize;
    text-decoration: none;
    outline:none; border:none;
    transition: all .2s ease-out;
  }
  
  *::selection{
    background:var(--red);
    color:#fff;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  section{
    min-height: 100vh;
    padding:0 7%;
    padding-top: 11rem;
    padding-bottom: 9rem;
  }
  
  .heading{
    text-align: center;
    color:var(--red);
    padding:1rem;
    font-size: 3.5rem;
  }
  
  header{
    position: fixed;
    top:0; left: 0; right: 0;
    background:url(../Homepage/images/header-bg.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 10000;
    padding:1.5rem 7%;
    padding-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .logo{
    font-size: 2.5rem;
    color:#333;
  }
  
  header .logo i{
    padding-right: .5rem;
    color:var(--red);
  }
  
  header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:#333;
  }
  
  header .navbar a:hover{
    color:var(--red);
  }